# Introducción a Python

Clase de hoy, aprendiendo a poder ver como usar el google colab.

## ¿Qué veremos hoy?


1.   Objetos
2.   Variables
3.   Ejemplo

**Nota: En este procesador de texto, se puede escribir en HTML y en latex.
Por ejemplo, vamos a escribir la ecuación más hermosa de todas:** $$e^{i\pi}+1 = 0$$

Otro ejemplo:

\begin{bmatrix}
a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
\vdots & \vdots & \ddots & \vdots \\
a_{m,1} & a_{m,2} & \cdots & a_{m,n}
\end{bmatrix}

### Algunos objetos en Python



1.   int y float (enteros y flotantes)
2.   str ("string")
3.   Conjuntios y listas

---

**La función `print` y la función `type`**

In [3]:
# Vamos a imprimir Hola mundo.
print ("Hello World");

Hello World

#### Operaciones básicas en int o float



*   $+,\ -$  Suma y resta
*   $*, / , **$ Multiplicación, dividir y potenciación.
*   $\%$ Operación modular.
*   $//$ División al piso.

In [4]:
5+2

7

**Creación de variables**

nombre = objeto

In [5]:
# Vamos a crear dos variables

x = 7
y = 3

In [10]:
# Operaciones
print(f" La suma entre {x} y {y} es {x+y}")
print(f" La potenciación entre {x} y {y} es {x**y}")
print(f" El residuo entre {x} y {y} es {x%y}")
print(f" La resta entre {x} y {y} es {x-y}")
print(f" La división entre {x} y {y} es {x//y}")

 La suma entre 7 y 3 es 10
 La potenciación entre 7 y 3 es 343
 El residuo entre 7 y 3 es 1
 La resta entre 7 y 3 es 4
 La división entre 7 y 3 es 2

In [13]:
# La función type nos dice el tipo de objeto
type(x/y), type("César")

(float, str)

In [12]:
type(x+y)

int